<div class="row sign-in">
  <form id="new_user" class="col s12" action="/users" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="#{@token}">

  <%= devise_error_messages! %>

    <div class="row">
      <div class="input-field col s6">
        <input id="first_name" type="text" class="validate" name="user[first_name]">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate" name="user[last_name]">
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="input_text" type="text" class="validate" name="user[username]" length="15">
        <label for="input_text">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" value name="user[email]" class="validate">
        <label for="email" data-error="wrong" data-success="right">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" name="user[password]" class="validate" length="20"/>
        <label for="password">Password</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" name="user[password_confirmation]" class="validate" length="20"/>
        <label for="password">Password Confirmation</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light normal-btn" type="submit" name="action">Sign up
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
