<div class="home-page right">
  <h1> FrienDiagram </h1>
  <hr></hr>
  <section class="quote">
    <blockquote>Friends becomes closer when they meet in the middle.</blockquote>
    <span class="per">-Commodore Per</span>
  </section>
  <section>
    <h5> Meeting up with a friend for a bagel, drink or coffe is always fun. But, isn't it a pain to find that perfect spot in the middle so neither has to travel too far? </h5>
  </section>
</div>
