<%= react_component 'App', { user: @user, event: @event, possibleVenues: @possibleVenues, coordinates: @event.coordinates } %>
<div className="mapview-container">
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC96I8KJbqYcYiMBXZ-enZ-0qjQqjcSIzg&libraries=places">
  </script>
</div>
