<h3>My Google Maps Demo</h3>
<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY94qvuFjhS-GJs7z8SwHjKALwkj4p_Og&callback=initMap" async defer></script>
<%= react_component 'App', { user: @user } %>
