<% @users.each do |user| %>
  <div class="user_list_container">
    <div class="user_name">
      <span><%=user.username%></span></br>
      <span><%=user.email%></span></br>
    </div>
  </div></br>
<% end %>
