<%= react_component 'FriendSearchForm', { token: @token } %></br>

<% @friends.each do |friend| %>
  <div class="user_list_container">
    <div class="user_name">
      <span>PROFILE PIC GOES HERE</span></br>
      <span><%=friend.username%></span></br>
      <span><%=friend.email%></span></br>
    </div>
  </div></br>
<% end %>
